In [1]:
## starting model refinement and testing in this notebook 

# Import our dependencies
import pandas as pd



# Read in our ramen data
num_all_homes_df_transformed = pd.read_csv("trans_with_state1HOT_Zhvi_city.csv")
# Read in our ramen data
num_all_homes_df_transformed
# # Print out the Country value counts
# country_counts = ramen_df.Country.value_counts()
# country_counts

,Unnamed: 0,2006-01-31,2006-02-28,2006-03-31,2006-04-30,2006-05-31,2006-06-30,2006-07-31,2006-08-31,2006-09-30,...,41,42,43,44,45,46,47,48,49,50
0,0,500592.0,506267.0,508485.0,510606.0,513148.0,518144.0,521337.0,524195.0,524801.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,624755.0,630004.0,636285.0,640154.0,646316.0,650327.0,653364.0,654803.0,652556.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,128913.0,128924.0,129169.0,129307.0,129793.0,130181.0,130661.0,131035.0,131564.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,280994.0,283177.0,284850.0,286799.0,287944.0,288968.0,289628.0,290446.0,290953.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,119832.0,120418.0,121067.0,121616.0,122124.0,122762.0,123581.0,124480.0,125401.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17611,17611,89296.8,94795.6,95548.8,96248.0,96660.6,96530.4,96697.6,96949.4,97230.4,...,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0
17612,17612,31564.8,31502.2,31394.2,31423.0,31495.6,31615.2,31755.6,31772.4,31720.2,...,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0
17613,17613,82662.8,82745.6,83045.4,83562.4,84306.0,85142.4,85776.2,86188.8,86511.4,...,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.0,0.0,0.0
17614,17614,64912.2,65107.6,65355.4,65525.6,65801.2,66059.8,66410.4,66686.0,66920.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17615,17615,122430.0,122881.2,123243.6,123591.2,123938.4,124402.4,124810.2,125573.2,126252.8,...,0.0,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.0

In [2]:
## check that KNN imputer worked 

    
for column in num_all_homes_df_transformed.columns:
    print(f"column {column} has {num_all_homes_df_transformed[column].isnull().sum()} null values")

column Unnamed: 0 has 0 null values
column 2006-01-31 has 0 null values
column 2006-02-28 has 0 null values
column 2006-03-31 has 0 null values
column 2006-04-30 has 0 null values
column 2006-05-31 has 0 null values
column 2006-06-30 has 0 null values
column 2006-07-31 has 0 null values
column 2006-08-31 has 0 null values
column 2006-09-30 has 0 null values
column 2006-10-31 has 0 null values
column 2006-11-30 has 0 null values
column 2006-12-31 has 0 null values
column 2007-01-31 has 0 null values
column 2007-02-28 has 0 null values
column 2007-03-31 has 0 null values
column 2007-04-30 has 0 null values
column 2007-05-31 has 0 null values
column 2007-06-30 has 0 null values
column 2007-07-31 has 0 null values
column 2007-08-31 has 0 null values
column 2007-09-30 has 0 null values
column 2007-10-31 has 0 null values
column 2007-11-30 has 0 null values
column 2007-12-31 has 0 null values
column 2008-01-31 has 0 null values
column 2008-02-29 has 0 null values
column 2008-03-31 has 0 null values
column 2008-04-30 has 0 null values
column 2008-05-31 has 0 null values
column 2008-06-30 has 0 null values
column 2008-07-31 has 0 null values
column 2008-08-31 has 0 null values
column 2008-09-30 has 0 null values
column 2008-10-31 has 0 null values
column 2008-11-30 has 0 null values
column 2008-12-31 has 0 null values
column 2009-01-31 has 0 null values
column 2009-02-28 has 0 null values
column 2009-03-31 has 0 null values
column 2009-04-30 has 0 null values
column 2009-05-31 has 0 null values
column 2009-06-30 has 0 null values
column 2009-07-31 has 0 null values
column 2009-08-31 has 0 null values
column 2009-09-30 has 0 null values
column 2009-10-31 has 0 null values
column 2009-11-30 has 0 null values
column 2009-12-31 has 0 null values
column 2010-01-31 has 0 null values
column 2010-02-28 has 0 null values
column 2010-03-31 has 0 null values
column 2010-04-30 has 0 null values
column 2010-05-31 has 0 null values
column 2010-06-30 has 0 null values
column 2010-07-31 has 0 null values
column 2010-08-31 has 0 null values
column 2010-09-30 has 0 null values
column 2010-10-31 has 0 null values
column 2010-11-30 has 0 null values
column 2010-12-31 has 0 null values
column 2011-01-31 has 0 null values
column 2011-02-28 has 0 null values
column 2011-03-31 has 0 null values
column 2011-04-30 has 0 null values
column 2011-05-31 has 0 null values
column 2011-06-30 has 0 null values
column 2011-07-31 has 0 null values
column 2011-08-31 has 0 null values
column 2011-09-30 has 0 null values
column 2011-10-31 has 0 null values
column 2011-11-30 has 0 null values
column 2011-12-31 has 0 null values
column 2012-01-31 has 0 null values
column 2012-02-29 has 0 null values
column 2012-03-31 has 0 null values
column 2012-04-30 has 0 null values
column 2012-05-31 has 0 null values
column 2012-06-30 has 0 null values
column 2012-07-31 has 0 null values
column 2012-08-31 has 0 null values
column 2012-09-30 has 0 null values
column 2012-10-31 has 0 null values
column 2012-11-30 has 0 null values
column 2012-12-31 has 0 null values
column 2013-01-31 has 0 null values
column 2013-02-28 has 0 null values
column 2013-03-31 has 0 null values
column 2013-04-30 has 0 null values
column 2013-05-31 has 0 null values
column 2013-06-30 has 0 null values
column 2013-07-31 has 0 null values
column 2013-08-31 has 0 null values
column 2013-09-30 has 0 null values
column 2013-10-31 has 0 null values
column 2013-11-30 has 0 null values
column 2013-12-31 has 0 null values
column 2014-01-31 has 0 null values
column 2014-02-28 has 0 null values
column 2014-03-31 has 0 null values
column 2014-04-30 has 0 null values
column 2014-05-31 has 0 null values
column 2014-06-30 has 0 null values
column 2014-07-31 has 0 null values
column 2014-08-31 has 0 null values
column 2014-09-30 has 0 null values
column 2014-10-31 has 0 null values
column 2014-11-30 has 0 null values
column 2014-12-31 has 0 null values
column 2015-01-31 has 0 null values
column 2015-02-28 has 0 null values
column 2015-03-31 has 0 null values
column 2015-04-30 has 0 null values
column 2015-05-31 has 0 null values
column 2015-06-30 has 0 null values
column 2015-07-31 has 0 null values
column 2015-08-31 has 0 null values
column 2015-09-30 has 0 null values
column 2015-10-31 has 0 null values
column 2015-11-30 has 0 null values
column 2015-12-31 has 0 null values
column 2016-01-31 has 0 null values
column 2016-02-29 has 0 null values
column 2016-03-31 has 0 null values
column 2016-04-30 has 0 null values
column 2016-05-31 has 0 null values
column 2016-06-30 has 0 null values
column 2016-07-31 has 0 null values
column 2016-08-31 has 0 null values
column 2016-09-30 has 0 null values
column 2016-10-31 has 0 null values
column 2016-11-30 has 0 null values
column 2016-12-31 has 0 null values
column 2017-01-31 has 0 null values
column 2017-02-28 has 0 null values
column 2017-03-31 has 0 null values
column 2017-04-30 has 0 null values
column 2017-05-31 has 0 null values
column 2017-06-30 has 0 null values
column 2017-07-31 has 0 null values
column 2017-08-31 has 0 null values
column 2017-09-30 has 0 null values
column 2017-10-31 has 0 null values
column 2017-11-30 has 0 null values
column 2017-12-31 has 0 null values
column 2018-01-31 has 0 null values
column 2018-02-28 has 0 null values
column 2018-03-31 has 0 null values
column 2018-04-30 has 0 null values
column 2018-05-31 has 0 null values
column 2018-06-30 has 0 null values
column 2018-07-31 has 0 null values
column 2018-08-31 has 0 null values
column 2018-09-30 has 0 null values
column 2018-10-31 has 0 null values
column 2018-11-30 has 0 null values
column 2018-12-31 has 0 null values
column 2019-01-31 has 0 null values
column 2019-02-28 has 0 null values
column 2019-03-31 has 0 null values
column 2019-04-30 has 0 null values
column 2019-05-31 has 0 null values
column 2019-06-30 has 0 null values
column 2019-07-31 has 0 null values
column 2019-08-31 has 0 null values
column 2019-09-30 has 0 null values
column 2019-10-31 has 0 null values
column 2019-11-30 has 0 null values
column 2019-12-31 has 0 null values
column 2020-01-31 has 0 null values
column 2020-02-29 has 0 null values
column 2020-03-31 has 0 null values
column states_Types_Cat has 0 null values
column 0 has 0 null values
column 1 has 0 null values
column 2 has 0 null values
column 3 has 0 null values
column 4 has 0 null values
column 5 has 0 null values
column 6 has 0 null values
column 7 has 0 null values
column 8 has 0 null values
column 9 has 0 null values
column 10 has 0 null values
column 11 has 0 null values
column 12 has 0 null values
column 13 has 0 null values
column 14 has 0 null values
column 15 has 0 null values
column 16 has 0 null values
column 17 has 0 null values
column 18 has 0 null values
column 19 has 0 null values
column 20 has 0 null values
column 21 has 0 null values
column 22 has 0 null values
column 23 has 0 null values
column 24 has 0 null values
column 25 has 0 null values
column 26 has 0 null values
column 27 has 0 null values
column 28 has 0 null values
column 29 has 0 null values
column 30 has 0 null values
column 31 has 0 null values
column 32 has 0 null values
column 33 has 0 null values
column 34 has 0 null values
column 35 has 0 null values
column 36 has 0 null values
column 37 has 0 null values
column 38 has 0 null values
column 39 has 0 null values
column 40 has 0 null values
column 41 has 0 null values
column 42 has 0 null values
column 43 has 0 null values
column 44 has 0 null values
column 45 has 0 null values
column 46 has 0 null values
column 47 has 0 null values
column 48 has 0 null values
column 49 has 0 null values
column 50 has 0 null values

In [3]:
num_all_homes_df_transformed['states_Types_Cat'].value_counts()

38.0    1392
43.0    1104
34.0     959
4.0      924
14.0     727
35.0     707
9.0      569
24.0     567
27.0     555
22.0     554
23.0     545
48.0     506
45.0     471
12.0     455
31.0     447
10.0     411
36.0     406
17.0     395
1.0      358
2.0      353
15.0     352
47.0     333
49.0     320
20.0     311
42.0     310
18.0     274
5.0      261
37.0     236
19.0     235
40.0     235
16.0     218
21.0     207
25.0     201
29.0     169
13.0     164
3.0      159
44.0     154
26.0     140
32.0     135
6.0      110
46.0     101
28.0      96
41.0      91
50.0      89
30.0      84
11.0      63
33.0      56
0.0       44
8.0       37
39.0      25
7.0        1
Name: states_Types_Cat, dtype: int64

In [4]:
# Define features set -- using 2020-03 as y for now 
X = num_all_homes_df_transformed.copy()
X = X.drop("2020-03-31", axis=1)
X.head()

,Unnamed: 0,2006-01-31,2006-02-28,2006-03-31,2006-04-30,2006-05-31,2006-06-30,2006-07-31,2006-08-31,2006-09-30,...,41,42,43,44,45,46,47,48,49,50
0,0,500592.0,506267.0,508485.0,510606.0,513148.0,518144.0,521337.0,524195.0,524801.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,624755.0,630004.0,636285.0,640154.0,646316.0,650327.0,653364.0,654803.0,652556.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,128913.0,128924.0,129169.0,129307.0,129793.0,130181.0,130661.0,131035.0,131564.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,280994.0,283177.0,284850.0,286799.0,287944.0,288968.0,289628.0,290446.0,290953.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,119832.0,120418.0,121067.0,121616.0,122124.0,122762.0,123581.0,124480.0,125401.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# Define target vector y 
y = num_all_homes_df_transformed["2020-03-31"].values.reshape(-1, 1)
y[:5]

array([[652307.],
       [752508.],
       [191907.],
       [249152.],
       [187718.]])

In [32]:
print(y.shape)
print(type(y))

(17616, 1)
<class 'numpy.ndarray'>

In [6]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [7]:
# ## instead of train test will just compare x and y with cross-validation 

# Creating StandardScaler instance
scaler = StandardScaler()
# Fitting Standard Scaller
X_scaler = scaler.fit(X)
# Scaling data
X_scaled = X_scaler.transform(X)

In [8]:
## fitting scaled x and y to linear regression model 

from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression()
lin_reg.fit(X_scaled,y)

LinearRegression()

In [9]:
## create small test set

some_y = y[0:200]
some_x = X_scaled[0:200]

In [10]:
## make predictions with trained model 

lin_reg.predict(some_x)

array([[ 652287.94315463],
       [ 752482.20341578],
       [ 191868.66543324],
       [ 249184.78429914],
       [ 187714.93045776],
       [ 187782.08957793],
       [ 269185.18758306],
       [ 290530.54481711],
       [ 679617.37368089],
       [ 226116.24624138],
       [ 401950.9212353 ],
       [1073140.93678245],
       [ 195669.27513879],
       [ 153227.78610072],
       [1447664.30368184],
       [ 252450.34761883],
       [ 212122.64533814],
       [ 215978.80587102],
       [ 174150.93583715],
       [ 178809.25841236],
       [ 260946.26068592],
       [ 138213.1088144 ],
       [  36341.70468913],
       [ 465512.10449445],
       [ 767967.51303586],
       [  97567.63911043],
       [ 644779.04956579],
       [ 640785.84261441],
       [ 467633.09682652],
       [ 289142.12084009],
       [ 362381.53060292],
       [ 152194.84994741],
       [ 135598.13272656],
       [ 258409.08762421],
       [ 196216.65460406],
       [ 216092.55219743],
       [ 142181.27508301],
       [ 290256.37679337],
       [ 278503.23925056],
       [ 370756.32690409],
       [ 299304.48171086],
       [ 162444.360435  ],
       [ 323199.46229283],
       [ 629174.7218225 ],
       [ 288518.2196074 ],
       [ 801117.01334666],
       [ 129879.65472943],
       [ 291502.15708635],
       [ 705059.30991501],
       [  68764.62111546],
       [ 237244.84337417],
       [ 221010.27559689],
       [ 200625.95060114],
       [ 183051.4479104 ],
       [ 138538.79378131],
       [ 251386.67507004],
       [ 363850.86599334],
       [ 426831.65498203],
       [ 256889.08608127],
       [ 165641.07703889],
       [ 180031.81377278],
       [ 644042.88047714],
       [ 593290.645738  ],
       [ 147114.70558913],
       [ 386468.65425971],
       [ 308497.13248025],
       [ 366807.13243293],
       [ 160603.40539917],
       [ 131312.93423879],
       [ 164301.58619811],
       [ 201816.10088604],
       [ 147767.97558688],
       [ 429841.38918226],
       [  77387.45092746],
       [ 328888.2105454 ],
       [ 242383.59453003],
       [ 334811.59174025],
       [ 256977.19895062],
       [ 196584.81233162],
       [ 320262.17073511],
       [ 345408.81611971],
       [ 289246.47627784],
       [ 344500.91948148],
       [ 197790.91959652],
       [ 317624.22078882],
       [ 403324.35379632],
       [ 264175.95154827],
       [ 347834.08668142],
       [ 150089.90862621],
       [ 500338.52288017],
       [ 105762.05632112],
       [ 128376.42182819],
       [ 297937.00612651],
       [ 313443.20003089],
       [ 569326.87246156],
       [ 232870.18420114],
       [ 163453.31628325],
       [ 239131.63534466],
       [ 288088.43784351],
       [ 152344.55159133],
       [ 204572.70238739],
       [ 255969.57457802],
       [ 532276.85804365],
       [ 122907.7798164 ],
       [ 341458.16603578],
       [ 907184.15960173],
       [ 155845.55472943],
       [ 278852.88086245],
       [ 283512.23856933],
       [ 224996.41769684],
       [ 209014.76590802],
       [ 221232.1817662 ],
       [ 368779.18414789],
       [ 274218.31400595],
       [1117284.07275317],
       [ 580700.60852333],
       [ 423573.97881185],
       [ 237588.84809205],
       [ 148355.68426605],
       [  64814.77186004],
       [ 207302.05796639],
       [ 598591.14014384],
       [ 518808.30327503],
       [ 242416.6083183 ],
       [ 149812.76350851],
       [ 162599.50603387],
       [ 356176.45673299],
       [ 105485.66578191],
       [ 351790.38203705],
       [  91792.60078603],
       [ 237167.05006398],
       [ 506358.30501511],
       [ 568662.71091138],
       [ 353936.35903026],
       [ 186917.69729624],
       [ 204511.14257159],
       [ 538448.00314099],
       [ 110363.27790695],
       [ 352841.82026142],
       [  74281.2507294 ],
       [ 254224.69549053],
       [ 886145.14838752],
       [ 183380.56579019],
       [ 136844.63930948],
       [ 349454.55992619],
       [ 420031.01884221],
       [ 235700.72960658],
       [ 518744.30137505],
       [ 152603.39640072],
       [ 422310.28030891],
       [ 693395.75488393],
       [ 102383.64858604],
       [  95379.75452207],
       [ 131727.20291455],
       [ 267213.68568976],
       [ 321585.54858589],
       [ 310388.91449876],
       [ 295269.14630046],
       [ 662557.10980811],
       [ 221850.4428819 ],
       [ 410753.65094633],
       [ 553464.64727822],
       [ 247208.88623599],
       [ 352189.60532762],
       [ 454359.35865471],
       [ 212517.32104603],
       [ 336558.95381761],
       [ 234965.67685394],
       [ 171370.83882961],
       [ 319959.71838521],
       [ 266264.2102476 ],
       [ 550629.10162754],
       [ 237461.6269732 ],
       [ 167110.02387269],
       [ 313681.8545067 ],
       [ 137414.66974726],
       [ 340321.3897448 ],
       [ 172260.32074172],
       [ 190398.93393354],
       [ 546891.60899777],
       [ 183181.65215449],
       [  42405.31408133],
       [ 469733.65984715],
       [ 311330.47914265],
       [ 315619.39167435],
       [ 396415.26059576],
       [ 588961.10682304],
       [ 270830.5934682 ],
       [ 123886.83283484],
       [ 330578.90475447],
       [ 174318.54536958],
       [ 326058.91410218],
       [ 245816.2371311 ],
       [ 180750.93181742],
       [ 195578.81078882],
       [ 191646.87314327],
       [ 257882.18482668],
       [  62399.63811243],
       [ 267107.96635794],
       [ 444742.91802794]])

In [11]:
print("actual :",list(some_y))

actual : [array([652307.]), array([752508.]), array([191907.]), array([249152.]), array([187718.]), array([187772.]), array([269175.]), array([290535.]), array([679568.]), array([226145.]), array([401999.]), array([1073255.]), array([195692.]), array([153159.]), array([1447191.]), array([252438.]), array([212127.]), array([215965.]), array([174109.]), array([178807.]), array([260915.]), array([138237.]), array([36293.]), array([465466.]), array([767906.]), array([97574.]), array([644743.]), array([640783.]), array([467621.]), array([289142.]), array([362400.]), array([152180.]), array([135570.]), array([258502.]), array([196202.]), array([216090.]), array([142220.]), array([290270.]), array([278497.]), array([370738.]), array([299308.]), array([162487.]), array([323194.]), array([629202.]), array([288499.]), array([801072.]), array([129889.]), array([291476.]), array([705049.]), array([68757.]), array([237225.]), array([221016.]), array([200650.]), array([183015.]), array([138575.]), array([251387.]), array([363839.]), array([426801.]), array([256909.]), array([165613.]), array([179972.]), array([644067.]), array([593313.]), array([147135.]), array([386487.]), array([308513.]), array([366840.]), array([160597.]), array([131350.]), array([164352.]), array([201866.]), array([147756.]), array([429873.]), array([77414.]), array([328889.]), array([242370.]), array([334871.]), array([256993.]), array([196597.]), array([320319.]), array([345430.]), array([289358.]), array([344524.]), array([197791.]), array([317555.]), array([403318.]), array([264212.]), array([347832.]), array([150118.]), array([500395.]), array([105695.]), array([128357.]), array([297907.]), array([313427.]), array([569273.]), array([232838.]), array([163432.]), array([239160.]), array([288077.]), array([152337.]), array([204594.]), array([255954.]), array([532275.]), array([122922.]), array([341449.]), array([907185.]), array([155877.]), array([278893.]), array([283520.]), array([224979.]), array([209050.]), array([221259.]), array([368772.]), array([274232.]), array([1117349.]), array([580729.]), array([423560.]), array([237634.]), array([148368.]), array([64840.]), array([207299.]), array([598590.]), array([518706.]), array([242406.]), array([149824.]), array([162607.]), array([356203.]), array([105486.]), array([351712.]), array([91810.]), array([237115.]), array([506347.]), array([568595.]), array([354019.]), array([186941.]), array([204469.]), array([538412.]), array([110364.]), array([352851.]), array([74281.]), array([254183.]), array([886160.]), array([183387.]), array([136843.]), array([349466.]), array([419987.]), array([235708.]), array([518721.]), array([152585.]), array([422286.]), array([693428.]), array([102365.]), array([95419.]), array([131733.]), array([267281.]), array([321556.]), array([310330.]), array([295188.]), array([662566.]), array([221836.]), array([410780.]), array([553421.]), array([247135.]), array([352161.]), array([454353.]), array([212513.]), array([336539.]), array([234918.]), array([171384.]), array([319975.]), array([266253.]), array([550634.]), array([237432.]), array([167098.]), array([313734.]), array([137420.]), array([340320.]), array([172281.]), array([190414.]), array([546877.]), array([183230.]), array([42402.]), array([469705.]), array([311342.]), array([315656.]), array([396425.]), array([588968.]), array([270862.]), array([123904.]), array([330593.]), array([174315.]), array([326015.]), array([245839.]), array([180750.]), array([195578.]), array([191598.]), array([257864.]), array([62471.]), array([267033.]), array([444730.])]

In [16]:
from sklearn.metrics import mean_squared_error
import numpy as np
import os

housing_predictions = lin_reg.predict(X_scaled)
lin_mse = mean_squared_error(y, housing_predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

92.06438227259599

In [17]:
from sklearn.metrics import mean_absolute_error

lin_mae = mean_absolute_error(y, housing_predictions)
lin_mae

41.14259370125458

In [ ]:
## mean absolute error large on lin reg

In [29]:
## trying decision tree regressor 

from sklearn.tree import DecisionTreeRegressor
## create instance 
tree_reg = DecisionTreeRegressor(random_state=42)

# fit to data 
tree_reg.fit(X_scaled, y)

DecisionTreeRegressor(random_state=42)

In [22]:
## over fitting initially as it has seen all th data 

housing_predictions = tree_reg.predict(X_scaled)
tree_mse = mean_squared_error(y, housing_predictions)
tree_rmse = np.sqrt(tree_mse)
tree_rmse

5660478.216536035

In [23]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(tree_reg, X_scaled, y,
                         scoring="neg_mean_squared_error", cv=10)
tree_rmse_scores = np.sqrt(-scores)

In [24]:
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())

display_scores(tree_rmse_scores)

Scores: [ 9286.22919804  7811.26235582 24117.70416378 17964.85957449
  3826.79316577  3534.99801908  3439.35866428  8253.93739504
 15727.56936781 23115.52839325]
Mean: 11707.82402973563
Standard deviation: 7547.844655593317

In [25]:
### check cross validation scores for linear regressor 

lin_scores = cross_val_score(lin_reg, X_scaled, y,
                             scoring="neg_mean_squared_error", cv=10)
lin_rmse_scores = np.sqrt(-lin_scores)
display_scores(lin_rmse_scores)

Scores: [ 83.18434526  66.99124691  87.0560143   85.25916369  78.52148119
  73.512547   229.773038   100.55771713 348.7864965  137.90751265]
Mean: 129.15495626365063
Standard deviation: 86.3672582801993

In [35]:
from sklearn.ensemble import RandomForestRegressor

forest_reg = RandomForestRegressor(n_estimators=10, random_state=42, max_depth=3)
forest_reg.fit(X_scaled, y)

/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestRegressor(max_depth=3, n_estimators=10, random_state=42)

In [36]:
lin_scores = cross_val_score(forest_reg, X_scaled, y,
                             scoring="neg_mean_squared_error", cv=10)
lin_rmse_scores = np.sqrt(-lin_scores)
display_scores(lin_rmse_scores)

/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

Scores: [42928.00826225 30494.10382737 67322.7101834  35070.31353804
 27044.74372771 31001.99809104 26772.29891401 32818.29600744
 37803.15620247 42884.51157566]
Mean: 37414.014032939274
Standard deviation: 11363.945362338463

In [ ]:
##at the moment the lin_regressor has better mean square error than the tree regressor or random forest regressor

## more tunning of hyperparameters could help 

## will create predicitions csv with lin_reg for second deliverable

In [26]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint

In [37]:

param_distribs = {
        'n_estimators': randint(low=1, high=10),
        'max_features': randint(low=1, high=200),
    }

forest_reg = RandomForestRegressor(random_state=42)
rnd_search = RandomizedSearchCV(forest_reg, param_distributions=param_distribs,
                                n_iter=10, cv=5, scoring='neg_mean_squared_error', random_state=42)
rnd_search.fit(X_scaled, y)

/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:531: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Users/robertrustia/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:765: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

RandomizedSearchCV(cv=5, estimator=RandomForestRegressor(random_state=42),
                   param_distributions={'max_features': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7fe27dca20d0>,
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7fe27dca21d0>},
                   random_state=42, scoring='neg_mean_squared_error')

In [38]:
## results of random cv of random forest regressor 

cvres = rnd_search.cv_results_
for mean_score, params in zip(cvres["mean_test_score"], cvres["params"]):
    print(np.sqrt(-mean_score), params)

26002.020954171338 {'max_features': 103, 'n_estimators': 4}
20527.137184397045 {'max_features': 93, 'n_estimators': 8}
20431.483394042596 {'max_features': 189, 'n_estimators': 5}
25672.651547639776 {'max_features': 103, 'n_estimators': 3}
21112.431466221144 {'max_features': 75, 'n_estimators': 8}
15490.951146049118 {'max_features': 117, 'n_estimators': 4}
17881.38540215441 {'max_features': 104, 'n_estimators': 8}
21864.10838809748 {'max_features': 131, 'n_estimators': 6}
22653.326332527104 {'max_features': 53, 'n_estimators': 2}
22077.078864602892 {'max_features': 88, 'n_estimators': 6}

In [40]:
## taking best model from CV 

final_model = rnd_search.best_estimator_

In [61]:
## the hpyerparameters for the best estimator 

rnd_search.best_estimator_

RandomForestRegressor(max_features=117, n_estimators=4, random_state=42)

In [45]:
final_predictions = final_model.predict(X_scaled)

final_mse = mean_squared_error(y, final_predictions)
final_rmse = np.sqrt(final_mse)

In [46]:
## real mean square error less than 10 thousand , not bad compared to others, 

final_rmse

8361.112263901421

In [48]:
len(final_predictions)

17616

In [56]:
final_predictions_df= pd.DataFrame(final_predictions)

In [57]:
final_predictions_df

               0
0      653377.50
1      748266.75
2      191907.00
3      248666.00
4      188007.25
...          ...
17611   87939.75
17612   35838.25
17613  131253.25
17614   83478.50
17615  182994.50

[17616 rows x 1 columns]

In [60]:



final_predictions_df.to_csv('random_forest_deliverable_2_predictions.csv',encoding='utf-8')

In [58]:
print(final_predictions_df.describe())
print(final_predictions_df.info())

                  0
count  1.761600e+04
mean   2.254064e+05
std    2.531689e+05
min    1.473550e+04
25%    1.049690e+05
50%    1.634814e+05
75%    2.611157e+05
max    6.467358e+06
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17616 entries, 0 to 17615
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       17616 non-null  float64
dtypes: float64(1)
memory usage: 137.8 KB
None

In [ ]:
## for random forrest regressor final

In [ ]:
param_distribs = {
        'n_estimators': randint(low=1, high=10),
        'max_features': randint(low=1, high=200),
    }

lin_reg = LinearRegression(random_state=42)
rnd_search = RandomizedSearchCV(lin_reg, param_distributions=param_distribs,
                                n_iter=10, cv=5, scoring='neg_mean_squared_error', random_state=42)
rnd_search.fit(X_scaled, y)